@import url(reset.css);
@import url(../base/variables.css);
@import url(../style2.css);
@import url(../components/buttons.css);
@import url(../components/header.css);
@import url(../components/text.css);
@import url(../components/presentacion.css);
@import url(../components/about-me.css);
@import url(../components/skills.css);
@import url(../components/hobbies.css);
@import url(../components/formacion.css);

body{
    width:100%;
    background: url(../../img/background-1-by-me.png);
 /*    background-size: 100%; */
    background-color: black;
}
a{
    color: #ffffff;
    text-decoration: none;
}