body{
    width: 100%
}
header{
    text-align: center;
    font-family: 'Kufam', sans-serif;
    width: 100%;
    height: 220px;
    background-color: #643881;
}
.title{
    display: inline-block;
    color: #ffffff;
    font-size: 40px;
    margin: 30px 80px;
}
.caja{
    margin: 30px 80px;
    display: inline-block;
}
ul{
    display: inline-block;
    list-style: none;
}
.menu li>a{
    background-color: #643881;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
    
}
.menu>li{
    float: left;
    text-align:center
}
.menu>li>ul{
    display: none;
}
.menu>li:hover>ul {
    display:inline-block;
}

/* Página "conoceme.html"*/

.presentación{
    width: 960px;
    margin: 0 auto;
}
.mi-nombre{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    margin: 60px 0 40px 60px;
}
.presentación p{
    vertical-align: auto;
    display: inline-block;
    background-color: #cccccc;
    padding: 20px;
}
.foto-perfil{
    width: 240px;
    margin: 30px;
}
.mi-tema2{
    text-align: right;
    font-size: 40px;
    margin: 60px 0 40px 60px;
}
