.contacto{
    margin: 0 auto;
    width: 80%;
/*     background: var(--background-color);
    background: var(--card-background-gradient); */
}
.sector-contacto{
    align-items: center;
    padding: 30px 60px;
    display: flex;
    margin: 0 auto;
    vertical-align: middle;
    justify-content: space-between;
}
.sector-contacto div {
    width: 40%;
}
.imagen-contacto{
    width: 20%;
    padding: 40px;
}
.formulario-contacto{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.formulario-contacto label{
    margin-bottom: 10px;
    color: var(--font-color-primary);
}
.formulario-contacto input{
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
}
.formulario-contacto button{
    background-color: var(--font-color-secondary);
    border-radius: 10px;
    height: 40px;
    color: var(--font-color-primary);
}
@media(max-width: 768px){
    .sector-contacto{
        padding: 0;
        margin-bottom: 30px;
    }
    .titulo-contacto {
        text-align: center;
        margin-bottom: 20px;
    }

}