footer{
    background-color: #020217;
    margin: auto;
    width: 30%;
    height: 40px;
    border-radius: 265px 265px 0 0;
}
.autor{
    text-align: center;
    margin-top: 12px;

}
@media(max-width: 768px){
    footer{
        width: 100%;
        border-radius: unset;
        /* margin-top: 10px; */
        background: var(--background-color);
        background: var(--card-background-gradient);
    }
}