.sector-formacion{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.img-formacion{
    width: 13%;
    border-radius: 10px;
    margin: auto;
}
.lista-formacion{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--background-color);
    background: var(--card-background-gradient);
    padding: 30px;
    margin: 5px;
}
.itemFormacion{
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: var(--background-color);
    background: var(--card-background-gradient);
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}
.descripcion-formacion{
    width: 50%;
    text-align: center;
}
.instituto{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.instituto-nombre{
    font-family: var(--font-family-body);
    margin: 15px 0;
}
.duracion{
    font-family: var(--font-family-body);
    margin: 20px 0;
}
.description{
    font-family: var(--font-family-body);
    line-height: 25px;
}
.instituto-nombre{
    color: #8686f0;
    font-size: 24px;
}
