header{
    display: flex;
    justify-content: space-between;
}
.indice{
    max-width: 996px;
    height: 120px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* background: rgb(127,54,195);
    background: linear-gradient(180deg, rgba(127,54,195,1) 0%, rgba(197,109,255,1) 100%); */
}
.toggle-button{
    display: none;
    color: white;
}
.logo{
    display: flex;
    line-height: 120px;
}
.logo-img{
    width: 50px;
}
.title-1{
    margin-left: 10px;
    font: 2em 'Mukta', sans-serif;
    color: #ffffff;
}
.title-2 {
    margin-left: 10px;
    font: 2em 'Mukta', sans-serif;
    color: #ff00ff
}
.nav{
    display: flex;
}
.nav li{
    line-height: 120px;
    width: max-content;
    margin-right: 30px;
}
.nav li a{
    font-size: 1em;
}
p{
    color: white;
}

@media (max-width: 768px) {
    .indice{
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60px;
        margin: 0 5px;
    }
    .toggle-button{
        text-align: center;
        width: 54px;
        display: unset;
    }
    .nav{
        width: 100%;
        position: absolute;
        background-color: #020217;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 60px;
        left: 100%;
        transition: 0.3s;
    }
    .toggle_visible{
        left: 0;
    }
    .logo-img{
        width: 25px;
    }
    .logo{
        font-size: 14px;
        margin-top: 0;
        padding-top: 0;
    }
}