header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% auto;
    /* background: rgb(127,54,195);
    background: linear-gradient(180deg, rgba(127,54,195,1) 0%, rgba(197,109,255,1) 100%); */
}
.logo{
    display: flex;
    margin-top: 10px;
}
.logo img{
    width: 50px;
}
.title-1{
    margin-left: 10px;
    font: 4em 'Mukta', sans-serif;
    color: #ffffff;
}
.title-2 {
    margin-left: 10px;
    font: 4em 'Mukta', sans-serif;
    color: #ff00ff
}
.nav{
    margin-left: 150px;
    display: flex;
}
.nav li{
    margin: 0 30px;
}
.nav li a{
    font-size: 24px;
}
p{
    color: white;
}

@media (min-width: 720px) {
    .indice{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        margin-top: 0;
    }
    .logo img{
        width: 35px
    }
    .title-1{
        font-size: 2.5em
    }
    .title-2{
        font-size: 2.5em
    }
    .nav li{
        margin: 0 10px;
    }
    .nav li a{
        font-size: 16px;
    }
}