.hobbies{
    width: 80%;
    margin: 0 auto;
}
.sector-hobbies{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgb(6,18,167);
    background: var(--card-background-gradient);
    padding: 30px;
}
.lista-hobbies{
    width: 240px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff07;
    transition: transform 0.6s;
}
.lista-hobbies:hover{
    transform: scale(1.4);
}