.presentación{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px 
}
.parrafo-presentacion{
    width: 80%;
    margin-top: 120px;
    margin-left: 100px;;
}
.imagen-presentacion{
    width: 100%;
}
.foto-perfil{
    width: 360px;
}
.redes-sociales{
    margin: 0 auto;
    display: flex;
    width: 70%;
    color: var(--font-color-primary);
    justify-content: space-around;
}
.redes-sociales li{
    display: flex;
    align-items: center;

}
.img-social{
    margin: 10px;
    width: 20%;
}

@media (max-width: 768px){
    .presentación{
        justify-content: left;
    }
    .parrafo-presentacion{
        width: 100%;
        margin: 10px auto;
    }
    .foto-perfil{
        width: 130px;
    }
    .parrafo-presentacion p{
        width: 40%;
        line-height: 15px;
    }
    .parrafo-presentacion h1{
        margin: auto;
    }
    .imagen-presentacion{
        position: absolute;
        left: 80px;
        top: 150px;
        align-items: center;
    }
    .redes-sociales li{
        width: max-content;
        font-size: 11px;
        margin-right: 5px;
    }
    .img-social{
        margin-right: 5px;
    }
    .social{
        display: block;
        width: 100%;
        align-items: center;
    }
}