.presentación{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 80%;
}
.presentación h1{
    margin-top: 80px;
}
.parrafo-presentacion{
    width: 100%;
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.parrafo-descripcion{
    width: 60%;
    
}
.imagen-presentacion{
    width: 40%;
}
.foto-perfil{
    margin: 10%;
    width: 210px;
}
.redes-sociales{
    margin: 0 auto;
    display: flex;
    width: 70%;
    color: var(--font-color-primary);
    justify-content: space-around;
}
.redes-sociales li{
    display: flex;
    align-items: center;

}
.img-social{
    margin: 10px;
    width: 20%;
}

@media (max-width: 768px){
    .presentación{
        justify-content: left;
        flex-direction: column;
    }
    .parrafo-presentacion{
        width: 100%;
        margin: 10px auto;
        display: flex;
    }
    
    .parrafo-descripcion{
        width: 40%;
        line-height: 15px;
        margin: 0 20px;
    }
    .parrafo-presentacion h1{
        margin: auto;
    }
    .imagen-presentacion{
        width: 40%;
    }
    .foto-perfil{
        width: 130px;
    }
    .redes-sociales li{
        width: max-content;
        font-size: 11px;
        margin-right: 5px;
    }
    .img-social{
        margin-right: 5px;
    }
    .social{
        display: block;
        width: 100%;
        align-items: center;
    }
}
