.presentación{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px 
}
.parrafo-presentacion{
    margin-top: 80px;
   margin-left: 100px;;
}
.imagen-presentacion{
    width: 100%;
}
.foto-perfil{
    width: 360px;
}
.redes-sociales{
    margin: 0 auto;
    display: flex;
    width: 70%;
    color: var(--font-color-primary);
    justify-content: space-around;
}
.redes-sociales li{
    display: flex;
    align-items: center;

}
.img-social{
    margin: 10px;
    width: 20%;
}