.sector-proyectos{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.lista-proyectos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: var(--background-color);
    background: var(--card-background-gradient);
    padding: 60px 30px;
    margin: 5px;
}
.item-proyecto{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.img-proyecto{
    border-radius: 10px;
    width: 50%;
}
@media(max-width: 768px){
    .lista-proyectos{
        flex-direction: column;
    }
    .img-proyecto{
        width:420px;
    }
    .item-proyecto{
        width: 90%;
    }
}