.skills{
    width: 80%;
    margin: 0 auto;
}
.sector-skills{
/*     width: 70%; */
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgb(6,18,167);
    background: linear-gradient(180deg, rgba(6,18,167,0.20) 0%, rgba(85,90,212,0.20) 49%, rgba(127,54,195,0.20) 100%);
    padding: 30px;
}
.lista-skills{
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff07;
}

.img-skills{
    margin-bottom: 10px;
    width: 10%;
}