.encabezado{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    color: var(--font-color-primary);
    margin: 1% auto 0% auto;
    font-size: 36px;
    text-align: center;
}

.subtitulo{
    font-family: var(--font-family-body);
    font-weight: bold;
    font-size: 32px;
    margin: 2%;
    color: #3f3fba;
}
.subtitulo-2{
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    margin: 2%;
    color: #8686f0;
}

.parrafo{
    color: var(--font-color-primary);
    font: 2em 'Smooch Sans', sans-serif;
    vertical-align: top;
    width: 100%;
    padding: 2% 8%;
    display: inline-block;
}
.parrafo p{
    color: var(--font-color-primary);
    margin: 1%;
}
@media(min-width: 720px){
    .encabezado{
        font-size: 32px
    }
    .subtitulo{
        font-size: 24px
    }
    .subtitulo-2{
        font-size: 16px
    }
}